<div class="container">
  <h1>Team Beagle</h1>
  <%= image_tag "logo-mark-beagle.png", :class =>"profile"  %>
  <%= image_tag "stephen.png", :class =>"profile"  %>
  <%= image_tag "sidney.png", :class =>"profile"  %>
  <%= image_tag "dexter.png", :class =>"profile"  %>
  <%= image_tag "jared.png", :class =>"profile"  %>
  <%= image_tag "paul.jpg", :class =>"profile"  %>
  <%= image_tag "britney.jpg", :class =>"profile"  %>
</div>
