<div class="container">
  <h1>Team Beagle</h1>
  <%= image_tag "logo-mark-beagle.png", :class =>"profile"  %>
  <%= image_tag "stephen.png", :class =>"profile"  %>
  <p>Stephen Nguyen</p>
  <%= image_tag "sidney.png", :class =>"profile"  %>
  <p>Sidney Zhang</p>
  <%= image_tag "dexter.png", :class =>"profile"  %>
  <p>Dexter Vu</p>
  <%= image_tag "jared.png", :class =>"profile"  %>
  <p>Jared Smith</p>
  <%= image_tag "paul.jpg", :class =>"profile"  %>
  <p>Paul Mederos</p>
  <%= image_tag "britney.jpg", :class =>"profile"  %>
  <p>Britney Mederos</p>
</div>
