<div class="bill-container">
  <h2 class="bill-id"><%= @bill.bill_id %></h2>
  <p class="bill-popular-title">"<%= @bill.popular_title %>"</p>
  <p class="bill-official-title"><%= @bill.official_title %></p>

  <h4 class="bill-section-header">Status of the Bill</h4>

  <ol class="bill-status">
    <li class="status active-status">
      Introduced<br />
      <span class="status-date"><%= @bill.introduced_on.strftime("%B %d, %Y") %></span>
    </li>
    <li class="status <% if @bill.senate_passage_result %>active-status<% end %>">
      Senate Passed<br />
      <% if @bill.senate_passage_result %>
        <span class="status-date"><%= @bill.senate_passage_result_at.strftime("%B %d, %Y") %></span>
      <% end %>
    </li>
    <li class="status <% if @bill.house_passage_result %>active-status<% end %>">
      House Passed<br />
      <% if @bill.house_passage_result %>
        <span class="status-date"><%= @bill.house_passage_result_at.strftime("%B %d, %Y") %></span>
      <% end %>
    </li>
    <li class="status <% if @bill.enacted %>active-status<% end %>">
      President Signed<br />
      <% if @bill.awaiting_signature %>
        <span class="status-date">Awaiting Signature</span>
      <% end %>
    </li>
    <li class="status <% if @bill.enacted %>active-status<% end %>">
      Bill is law<br />
      <% if @bill.enacted %>
        <span class="status-date"><%= @bill.enacted_at.strftime("%B %d, %Y") %></span>
      <% end %>
    </li>
  </ol>

  

  <% if @bill.updates %>
  <h4 class="bill-section-header">Action on Last Vote</h4>

    <% @bill.updates.each do |update|%>
      <li class="bill-action">
        <%= update.details %><br />
        <%= update.datetime.strftime("%B %d, %Y") %>
      </li>
    <% end %>
  <% end %>

  <h4 class="bill-section-header">More Information</h4>
  <ul class="more-resources">
    <li><%= link_to @bill.congress_url, @bill.congress_url %></li>
    <li><%= link_to @bill.govtrack_url, @bill.govtrack_url %></li>
    <li><%= link_to @bill.opencongress_url, @bill.opencongress_url %></li>
  </ul>

  <a href="http://beagle-alert.herokuapp.com" target="_blank"><img src="/assets/beagle-logo.png" class="beagle-footer-logo" /></a>

</div>


<% if (false) %>
  
  <p><%= @bill.bill_id %></p>
  <p><%= @bill.bill_type %></p>
  <p><%= @bill.number %></p>
  <p><%= @bill.congress %></p>
  <p><%= @bill.short_title %></p>
  <p><%= @bill.nicknames %></p>
  <p><%= @bill.introduced_on %></p>

  
  <p><%= @bill.popular_title %></p>
  <p><%= @bill.congress_url %></p>
  <p><%= @bill.govtrack_url %></p>
  <p><%= @bill.opencongress_url %></p>

  <p><%= @bill.last_action_at %></p>
  <p><%= @bill.last_vote_at %></p>

  <p><%= @bill.active %></p>
  <p><%= @bill.active_at %></p>
  <p><%= @bill.awaiting_signature %></p>
  <p><%= @bill.enacted %></p>
  <p><%= @bill.enacted_at %></p>
  <p><%= @bill.house_passage_result %></p>
  <p><%= @bill.house_passage_result_at %></p>
  <p><%= @bill.senate_passage_result %></p>
  <p><%= @bill.senate_passage_result_at %></p>
  <p><%= @bill.vetoed %></p>

  updates are below
  <% if @bill.updates %>
    <% @bill.updates.each do |update|%>
      <p><%= update.details %></p>
      <p><%= update.datetime %></p>
    <% end %>
  <% end %>

<% end %>